@charset "UTF-8";
/* Custom fonts to use */

/* SF Pro Display 
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('../fonts/SF-Pro-Display-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url('../fonts/SF-Pro-Display-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: url('../fonts/SF-Pro-Display-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url('../fonts/SF-Pro-Display-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-display: auto;
    src: url('../fonts/SF-Pro-Display-Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url('../fonts/SF-Pro-Display-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-display: auto;
    src: url('../fonts/SF-Pro-Display-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 200;
    font-display: auto;
    src: url('../fonts/SF-Pro-Display-Thin.ttf') format('truetype');
}
*/