@charset "UTF-8";
@import url("reset.css");                                  /* Resetting browser defaults */
@import url("fonts.css");                                  /* Loading of fonts needed */
@import url("typography.css");                             /* Setting typography vars */
@import url("colors.css");                                 /* Setting color vars */
@media screen and (max-width: 719px) {
	body > div {
		font-size: 1.29rem;
		color: var(--gray-200);
	}
	fieldset {
		max-width: 100%;
		border: none;
	}
/* Fields */
	.hs-input {
		display: inline-block;
		width: 100%;
		height: 40px;
		outline: none;
		}
	
	input[type=checkbox].hs-input {
	width:30px !important;
	}
	
	textarea.hs-input {
    	min-height: 0;
		height: auto;
		}
	.field {
    	margin-bottom: 1.29rem;
	}
	fieldset.form-columns-2 {

	}
	label {
		display: block;
		margin-bottom: 4px;
	}
	input[type=text], input[type=email], textarea {
		border: 0;
    	border-radius: 0;
    	border-bottom: 2px solid var(--gray-500);
		padding: 0 15px;
    	min-height: 27px;
		background-color: transparent;
		color: var(--gray-50);
	}
	textarea {
    	padding: 10px 15px;
		resize: vertical;
	}
	input[type=submit] {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23FFFFFF'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
		background-position: right 24px center;
		background-color: var(--primary-color);
		background-repeat: no-repeat;
		background-size: 16px 15px;
		color: var(--color-white);
		border-color: var(--primary-color);
		display: inline-block;
		border-radius: 48px;
		padding: 14px calc(22px + 16px + 18px) 14px 22px;
		border-width: 2px;
		border-style: solid;
		cursor: pointer;
		font-size: 1.29rem;
		line-height: 1.4em;
		}
	input[type=submit]:hover {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23E88213'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23E88213'/%3E%3C/svg%3E%0A");
		background-color: var(--color-white);
		color: var(--primary-color);
	}
	input[type=submit]:active, input[type=submit]:focus {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23E88213'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23E88213'/%3E%3C/svg%3E%0A");
		background-color: var(--color-white);
		color: var(--primary-color);
		border-width: 3px;
		padding: 13px calc(21px + 16px + 18px) 13px 21px;
	}
/* Validation */
	ul.no-list {
    	list-style: none;
		}
	.inputs-list {
    	margin: 0 0 5px;
    	width: 100%;
    	padding-left: 5px;
	}	
	.inputs-list label {
		float: none;
		width: auto;
		padding: 0;
		font-size: 1rem;
		line-height: 1.1rem;
	}
	.inputs-list > li {
		display: block;
		padding: 0;
		width: 100%;
		padding-top: 0;
	}
	.hs-error-msgs label {
		color: var(--error-color);
	}
	}
@media screen and (min-width: 720px) and (max-width: 1139px) {
	body > div {
		font-size: 1.29rem;
		color: var(--gray-200);
	}
	fieldset {
		max-width: 100%;
		border: none;
	}
/* Fields */
	.hs-input {
		display: inline-block;
		width: 100%;
		height: 40px;
		outline: none;
		}

	input[type=checkbox].hs-input {
	width:30px !important;
	}

	textarea.hs-input {
    	min-height: 0;
		height: auto;
		}
	.field {
    	margin-bottom: 1.29rem;
	}
	fieldset.form-columns-2 {

	}
	label {
		display: block;
		margin-bottom: 4px;
	}
	input[type=text], input[type=email], textarea {
		border: 0;
    	border-radius: 0;
    	border-bottom: 2px solid var(--gray-500);
		padding: 0 15px;
    	min-height: 27px;
		background-color: transparent;
		color: var(--gray-50);
	}
	textarea {
    	padding: 10px 15px;
		resize: vertical;
	}
	input[type=submit] {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23FFFFFF'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
		background-position: right 24px center;
		background-color: var(--primary-color);
		background-repeat: no-repeat;
		background-size: 16px 15px;
		color: var(--color-white);
		border-color: var(--primary-color);
		display: inline-block;
		border-radius: 48px;
		padding: 14px calc(22px + 16px + 18px) 14px 22px;
		border-width: 2px;
		border-style: solid;
		cursor: pointer;
		font-size: 1.29rem;
		line-height: 1.4em;
		}
	input[type=submit]:hover {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23E88213'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23E88213'/%3E%3C/svg%3E%0A");
		background-color: var(--color-white);
		color: var(--primary-color);
	}
	input[type=submit]:active, input[type=submit]:focus {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23E88213'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23E88213'/%3E%3C/svg%3E%0A");
		background-color: var(--color-white);
		color: var(--primary-color);
		border-width: 3px;
		padding: 13px calc(21px + 16px + 18px) 13px 21px;
	}
/* Validation */
	ul.no-list {
    	list-style: none;
		}
	.inputs-list {
    	margin: 0 0 5px;
    	width: 100%;
    	padding-left: 5px;
	}	
	.inputs-list label {
		float: none;
		width: auto;
		padding: 0;
		font-size: 1rem;
		line-height: 1.1rem;
	}
	.inputs-list > li {
		display: block;
		padding: 0;
		width: 100%;
		padding-top: 0;
	}
	.hs-error-msgs label {
		color: var(--error-color);
	}
}
@media screen and (min-width: 1140px) {
	body > div {
		font-size: 1.29rem;
		color: var(--gray-200);
	}
	fieldset {
		max-width: 100%;
		border: none;
	}
/* Fields */
	.hs-input {
		display: inline-block;
		width: 100%;
		height: 40px;
		outline: none;
		}
	
	input[type=checkbox].hs-input {
	width:30px !important;
	}
	
	textarea.hs-input {
    	min-height: 0;
		height: auto;
		}
	.field {
    	margin-bottom: 1.29rem;
	}
	fieldset.form-columns-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10%;
	}
	label {
		display: block;
		margin-bottom: 4px;
	}
	input[type=text], input[type=email], textarea {
		border: 0;
    	border-radius: 0;
    	border-bottom: 2px solid var(--gray-500);
		padding: 0 15px;
    	min-height: 27px;
		background-color: transparent;
		color: var(--gray-50);
	}
	textarea {
    	padding: 10px 15px;
		resize: vertical;
	}
	input[type=submit] {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23FFFFFF'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
		background-position: right 24px center;
		background-color: var(--primary-color);
		background-repeat: no-repeat;
		background-size: 16px 15px;
		color: var(--color-white);
		border-color: var(--primary-color);
		display: inline-block;
		border-radius: 48px;
		padding: 14px calc(22px + 16px + 18px) 14px 22px;
		border-width: 2px;
		border-style: solid;
		cursor: pointer;
		font-size: 1.29rem;
		line-height: 1.4em;
		}
	input[type=submit]:hover {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23E88213'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23E88213'/%3E%3C/svg%3E%0A");
		background-color: var(--color-white);
		color: var(--primary-color);
	}
	input[type=submit]:active, input[type=submit]:focus {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0261 0.473463C15.4352 0.882579 15.4352 1.5459 15.0261 1.95502L3.15314 13.828C2.74402 14.2371 2.0807 14.2371 1.67158 13.828C1.26247 13.4189 1.26247 12.7557 1.67158 12.3465L13.5446 0.473463C13.9538 0.0643469 14.617 0.0643469 15.0261 0.473463Z' fill='%23E88213'/%3E%3Cpath d='M0.666504 1.21424C0.666504 0.635666 1.13554 0.166626 1.71412 0.166626H14.2856C14.8641 0.166626 15.3332 0.635666 15.3332 1.21424V13.7857C15.3332 14.3642 14.8641 14.8333 14.2856 14.8333C13.707 14.8333 13.2379 14.3642 13.2379 13.7857V2.26186H1.71412C1.13554 2.26186 0.666504 1.79282 0.666504 1.21424Z' fill='%23E88213'/%3E%3C/svg%3E%0A");
		background-color: var(--color-white);
		color: var(--primary-color);
		border-width: 3px;
		padding: 13px calc(21px + 16px + 18px) 13px 21px;
	}
/* Validation */
	ul.no-list {
    	list-style: none;
		}
	.inputs-list {
    	margin: 0 0 5px;
    	width: 100%;
    	padding-left: 5px;
	}	
	.inputs-list label {
		float: none;
		width: auto;
		padding: 0;
		font-size: 1rem;
		line-height: 1.1rem;
	}
	.inputs-list > li {
		display: block;
		padding: 0;
		width: 100%;
		padding-top: 0;
	}
	.hs-error-msgs label {
		color: var(--error-color);
	}
}